body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
header{
    width: 100%;
    display: flex;
    justify-content:space-between;
    padding-top: 28px;
    box-sizing: border-box;
    padding: 24px;

}
.logo{
    width: 96px;
    height: 16px;
}
.headers_button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #FF52C1;
    font-size: 9.41px;
    line-height: 12.82px;
    background-color: #ffffff;
    border: 1px solid;
    width: 80px;
    height: 23.53px;
    border-radius: 11.76px;
    box-shadow: #ff52c194 0px 0px 2px 0px;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    width: 280px;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    width: 296px;
}
.second_button{
    background-color: #FF52C1;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size:12px ;
    line-height: 21px;
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border:none;
    margin-top: 24px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.first_div{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 116px;
    align-items: center;
    justify-content: center;
}
.screen{
    width: 296px;
    height: 209px;
    margin-bottom: 160px;
    margin-top: 104px;
}
.k2, .k3, .k{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.k{
    font-size: 52.95px;
    height: 63px;
}
.k3{
    margin-top: 90px;
}
h4{
    font-family: 'Open Sans', sans-serif;   
    font-weight: 700;
    font-size: 60.95px;
    line-height: 91.43px;
}
.kimg{
    width: 25px;
    height: 25px;
    position: relative;
    right: 50px;
}
.community{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15.24px;
    line-height: 22.86px;
    text-align: center;
    color: #808E9A;
}
.girl-boy{
    width: 258.61px;
    margin-top: 100px;
}
.grow_together{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72.25px;
    margin-top: 216px;
    background-color: #F6FBFF;
}
.background{
    width: 100%;
}
.background-top{
    position: relative;
    top: 220px;
}
.top{
    width: 100%;
}
.top2{
    display: none;
}
.grow-p{
    width: 320px;
    color: #00252E;
    margin-bottom: 40px;
}
.flowing_conversation{
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flowing_conversation_text{
    margin-top: 85.5px;
    text-align: center;
}
.flowing_conversation_h1{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 700;
}
.flowing_conversation_p{
    color: #00252E;
    letter-spacing: 0.1px;
}
.background2-top{
    margin-top: 120px;
    width: 100%;
    position: relative;
    top: 2px;
}
.background2-top2{
    display: none;
}
.background2-bottom{
    width: 100%;
}
.users{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F6FBFF;
}
.users-img{
    width: 267px;
    margin-top: 50px;
}
.users-txt{
    margin-top: 79px;
}
.users-txt-p{
    width: 320px;
    color: #00252E;
    margin-top: 16px;
    margin-bottom: 50px;
}
.lastdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 280px;
    gap: 40px;
    margin-bottom: 251px;
}
.footers-top{
    width: 100%;
    position: relative;
    top:5px;
}
footer{
    display: flex;
    flex-direction: column;
    color:#ffffff;
    background-color:#00252E;
    width: 100%;
    align-items: center;
    
}
.first{
    display: flex;
    flex-direction: column;
}
.lasth1,.lastp{
    text-align: left;
}
.lastp{
    color: #FFFFFF;
    margin-bottom: 40px;
}
.big_button{
    background-color: #FFFFFF;
    width: 320px;
    height: 48px;
    border:none;
    border-radius: 5px;
    margin-top: 32px;
}
.little_button{
    background-color: #FF52C1;
    color: #ffffff;
    width: 160px;
    height: 48px;
    border: none;
    margin-top: 16px;
    position: relative;
    left: 160px;
    border-radius: 5px;
}
.second{
    margin-top: 104px;
}
.logo2{
    width: 240px;
    height: 40px;
    margin-bottom: 16px;
}
.phone{
    display: flex;
    gap: 10px;
    margin-top: 12px;
}
.logos{
    display: flex;
    gap: 15px;
    margin-top: 48px;
    margin-bottom: 45px;
}
@media(min-width: 1440px){
    .logo{
        width: 240px;
        height: 38px;
    }
    .headers_button{
        width: 136px;
        height: 40px;
        font-size: 16px;
        border-radius: 20px;
    }
    .headers_button:hover{
        background-color: linear-gradient(0deg, #FF8ED7, #FF8ED7),
               linear-gradient(0deg, #FFFFFF, #FFFFFF);
               cursor: pointer;
    }
    header{
        padding: 65px;
    }
    h1{
        width: 1014px;
        font-size: 48px;
        line-height: 72px;
    }
    p{
        width: 600px;
        font-size: 20px;
        line-height: 30px;
        color: #00252E;
    }
    .second_button{
        width: 400px;
        height: 80px;
        border-radius: 40px;
        font-size: 20px;
    }
    .second_button:hover{
        background-color:#FF8ED7;
        cursor: pointer;

    }
    .screen{
        width: 1016px;
        height: 720px;
    }
    .k{
        font-size: 96px;
        display: flex;
        flex-direction: row;
    }
    .kimg{
        width: 40px;
        height: 40px;
        position: relative;
        right: 93px;
        margin-bottom: 33px;
    }
    .k3{
        margin-top: 0px;
    }
    .community{
        font-size: 20px;
        margin-top: 33px;
        line-height: 36px;
    }
    .grow_together{
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .girl-boy{
        width: 517.22px;
        margin-top: 0px;
    }
    .growh1{
        width: 303px;
        font-size: 40px;
    }
    .grow-p{
        width: 520px;
        text-align: left;
        font-size: 16px;
        margin-top: 16px;
    }
    .flowing_conversation{
        flex-direction: row;
        margin-top: 194px;
    }
    .flowing_conversation_h1{
        width: 471px;
        font-size: 40px;
    }
    .flowing_conversation_p{
        width: 520px;
        font-size: 16px;
        text-align: left;
    }
    .flowing_conversation_text{
        margin-left: 136px;
    }
    .users{
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .users-img{
        width: 532px;
    }
    .users-txt-p{
        width: 520px;
        font-size: 16px;
        text-align: left;
    }
    .users-h1{
        width: 220px;
        font-size: 40px;
    }
    footer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;

    }
    .first{
        margin-right: 100px;
    }
    .second{
        margin-top: 61px;
    }
    .lastp{
        width: 340px;
    }
    .lasth1{
        width: 154px;
    }
    .big_button{
        margin-top: 0px;
    }
    .phone{
        margin-top: 16px;
    }
    .logos{
        gap:30px;
    }
    .little_button{
        position: relative;
        bottom: 63px;
        left: 349px;
    }
    .little_button:hover{
        background-color: #FF8ED7;
        cursor: pointer;
    }
    .svg1:hover{
        background-color: aqua;
        cursor: pointer;
        color: white;
    }
    .background2-top2{
        display: flex;
        margin-top:150px;
        width: 100%;
    }
    .background2-top{
        display: none;
    }
    .top2{
        display: flex;
        width: 100%;
    }
    .top{
        display: none;
    }
}
